*.pyc
__pycache__/
migrations
stacticcdn
.idea/
db.sqlite3
env/
.idea
media/
staticcdn/
.vscode
.output
settings.py
venv/
.idea
staticcdn/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule
celerybeat.pid
.read
dumpdata.json
data.psql
database.db
extract.json
schema.psql
dump.rdb
debug/
.models
data.json
*.sh
node_modules/
package-lock.json
dump/
*.pgsql