{% extends 'frontend/index.html' %}

{% block maincontent %}
<div class="" style="margin-top: 128px;">
  <div class="container">
    <div class="">
      <h2 id="header-text">Please Enter New Passwords:</h2>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="font-size: 20px; color: red;">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form class="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
          <button type="submit" name="button" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock maincontent %}
