{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Library Management System</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'frontend/img/favicon.png' %}" rel="icon">
  <link href="{% static 'frontend/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'frontend/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'frontend/lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/lib/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="{% static 'frontend/css/nivo-slider-theme.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="{% static 'frontend/css/responsive.css' %}" rel="stylesheet">

  <!-- Toastr message -->
  <link rel="stylesheet" href="{% static 'frontend/lib/toastr/toastr.min.css' %}">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  {% block header %}{% endblock header %}

  <style media="screen">
    input[type=search] {
      background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
      border: solid 1px #ccc;
      padding: 9px 10px 9px 32px;
      width: 55px;
    }

    input[type=search]:focus {
      width: 600px;
      background-color: #ccc;
      border-color: #333;
      border: solid 1px #fff;
    }

    .content {
      position: relative;
      width: 90%;
      margin: auto;
      overflow: hidden;
      margin-bottom: 16px;
    }

    .content .content-overlay {
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      height: 99%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }

    .content:hover .content-overlay {
      opacity: 1;
    }

    .content-image {
      width: 100%;
      height: 256px;
    }

    .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    .content:hover .content-details {
      top: 50%;
      left: 50%;
      opacity: 1;
    }

    .content-details h3 {
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    .content-details p {
      color: #fff;
      font-size: 0.8em;
    }

    .fadeIn-bottom {
      top: 80%;
    }
  </style>
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="{% url 'my_app:homepage' %}">

                  <h1><span>Lib</span>rary</h1>
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <img src="img/logo.png" alt="" title=""> -->
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                {% if user.is_authenticated %}
                <form class="form" action="{% url 'my_app:search_view' %}" method="get" style="display: inline;">
                  <input class="form-group" type="text" name="Q" value="" style="margin: 20px 0 0 16px; width: 180px;"
                    placeholder="Search Book">
                </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                  {% for child in menu_root.not_deleted_children %}
                  {% if not child.not_deleted_children %}
                  {% if child.title|lower == 'profile' or child.title|lower == 'bookings' %}
                  {% if request.user.is_authenticated %}
                  <li class="{% if url_name == child.title %}active{% endif %}">
                    <a href="{{ child.urls }}">{{ child.title }}</a>
                  </li>
                  {% endif %}
                  {% else %}
                  <li class="{% if url_name == child.title %}active{% endif %}">
                    <a href="{{ child.urls }}">{{ child.title }}</a>
                  </li>
                  {% endif %}
                  {% else %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ child.title }}<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {% for sub_child in child.not_deleted_children %}
                      <li><a href="{{ sub_child.urls }}">{{ sub_child.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% if request.user.is_authenticated %}
                  <li class="{% if url_name == 'notification' %}active{% endif %}">
                    <a href="{% url 'my_app:member_notifications' %}">
                      Notifications<span id="nav-not-count"
                        data-id="{{ notification_list }}">{% if no_of_notifications > 0 %}({{ no_of_notifications }}){% endif %}</span>
                    </a>
                  </li>
                  {% endif %}
                  {% if not request.user.is_authenticated %}
                  <li class="{% if url_name == 'signup' %}active{% endif %}">
                    <a href="{% url 'accounts:member_signup' %}">Signup</a>
                  </li>
                  {% endif %}
                  {% if not request.user.is_authenticated %}
                  <li class="{% if url_name == 'login' %}active{% endif %}">
                    <a href="{% url 'accounts:member_login' %}">Login</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'accounts:member_logout' %}" data-toggle="modal" data-target="#myModal">Logout</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->

  {% block maincontent %}

  <!-- Start Slider Area -->
  <div id="home" class="slider-area">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        {% for image in most_popular_books %}
        <img src="{{ image.image.url }}" alt="" title="#slider-direction-{{ forloop.counter|add:1 }}" />
        {% endfor %}
      </div>

      <!-- direction 1 -->
      {% for book in most_popular_books %}
      <div id="slider-direction-{{ forloop.counter|add:1 }}"
        class="slider-direction slider-{% if forloop.counter == 0 %}one{% elif forloop.counter == 1 or forloop.counter == 2 %}two{% endif %}">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div
                  class="layer-1-1 hidden-xs wow {% if forloop.counter == 0 %}slideInDown{% elif forloop.counter == 1 %}slideInUp{% endif %}"
                  data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">{{ book.title }} </h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">{{ book.author }}</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn page-scroll" href="{% url 'my_app:frontend_book_detail' book.id %}">See More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- End Slider Area -->

  <!-- Start Blog Area -->
  <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
      <div class="blog-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Latest Books</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start Single Blog -->
          {% for book in newest_books %}
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="{% url 'my_app:frontend_book_detail' book.id %}">
                  <img src="{{ book.image.url }}" alt="" style="height: 222px; width: 100%;">
                </a>
              </div>
              <div class="blog-meta">
                <span class="comments-type">
                  <i class="fa fa-star"></i>
                  <a href="">{{ book.avg_rating }}</a>
                </span>
                <span class="date-type">
                  <i class="fa fa-calendar"></i>{{ book.published_date }}
                </span>
              </div>
              <div class="blog-text">
                <h4>
                  <a href="{% url 'my_app:frontend_book_detail' book.id %}">{{ book.title }}</a>
                </h4>
                <p>
                  Written By: {{ book.author }}
                </p>
              </div>
              <span>
                <a href="{% url 'my_app:frontend_book_detail' book.id %}" class="ready-btn">Read more</a>
              </span>
            </div>
            <!-- Start single blog -->
          </div>
          {% endfor %}
          <!-- End Single Blog-->
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog -->

  {% if testimonials.count > 1 %}
  <!-- Start Testimonials -->
  <div class="testimonials-area">
    <div class="testi-inner area-padding">
      <div class="testi-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Start testimonials Start -->
            <div class="testimonial-content text-center">
              <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
              <!-- start testimonial carousel -->
              <div class="testimonial-carousel">
                {% for testimonial in testimonials %}
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      {{ testimonial.testimonial_text|safe }}
                    </p>
                    <h6>{{ testimonial.user }}</h6>
                  </div>
                </div>
                {% endfor %}
                <!-- End single item -->
              </div>
            </div>
            <!-- End testimonials end -->
          </div>
          <!-- End Right Feature -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonials -->
  {% endif %}

  {% if request.user.is_authenticated and user_based_recommendation.count > 0 %}
  <!-- Start User Based Recommendation Area -->
  <div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Users similar to you liked the following books</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for book in user_based_recommendation|slice:":9" %}
        <div class="col-xs-4">
          <div class="content">
            <a href="{% url 'my_app:frontend_book_detail' book.book.id %}" target="_blank">
              <div class="content-overlay"></div>
              <img class="content-image" src="{{ book.book.image.url }}">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">{{ book.book.title|truncatechars:48 }}</h3>
                <p class="content-text">Category: {{ book.book.category }}</p>
                <p class="content-text">Prediction: {{ book.prediction }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- User based recommendation end -->
  {% endif %}

  {% if request.user.is_authenticated and item_based_recommendation.count > 0 %}
  <!-- Start Item Based Recommendation Area -->
  <div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>You might like the following books</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for book in item_based_recommendation|slice:":9" %}
        <div class="col-xs-4">
          <div class="content">
            <a href="{% url 'my_app:frontend_book_detail' book.book.id %}" target="_blank">
              <div class="content-overlay"></div>
              <img class="content-image" src="{{ book.book.image.url }}">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">{{ book.book.title|truncatechars:48 }}</h3>
                <p class="content-text">Category: {{ book.book.category }}</p>
                <p class="content-text">Prediction: {{ book.prediction }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Item based recommendation end -->
  {% endif %}

  <!-- Start Suscrive Area -->
  <div class="suscribe-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
          <div class="suscribe-text text-center">
            <h3>Welcome to our Library</h3>
            <a class="sus-btn" href="{% url 'my_app:testimonial' %}">Give Testimonial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Suscrive Area -->

  {% endblock maincontent %}

  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>Lib</span>rary</h2>
                </div>

                <p>Our library is managed using library management system which makes it
                  easier for both the members and librarians to see the availability of books.</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Our Information</h4>
                <p>
                  Here are some of the important information of our library.
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +977 9843204528, +977 9813110628</p>
                  <p><span>Email:</span> sugatbajracharya@tekvortex.com</p>
                  <p><span>Open Hours:</span> 9am-5pm</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>Library</strong>. All Rights Reserved
              </p>
            </div>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->
              Designed by <a href="https://bootstrapmade.com/">Sugat Bajracharya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'frontend/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'frontend/lib/jquery/jquery.cookie.js' %}"></script>
  <script src="{% static 'frontend/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'frontend/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'frontend/lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'frontend/lib/knob/jquery.knob.js' %}"></script>
  <script src="{% static 'frontend/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'frontend/lib/parallax/parallax.js' %}"></script>
  <script src="{% static 'frontend/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'frontend/lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontend/lib/appear/jquery.appear.js' %}"></script>
  <script src="{% static 'frontend/lib/isotope/isotope.pkgd.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'frontend/contactform/contactform.js' %}"></script>

  <script src="{% static 'frontend/js/main.js' %}"></script>

  <script src="{% static 'frontend/lib/toastr/toastr.min.js' %}" charset="utf-8"></script>

  {% if request.user.is_authenticated %}
  <script type="text/javascript">
    $(document).ready(function () {
      var user_id = "{{ request.user.id }}";
      setInterval(function () {
        var notification_list = $("#nav-not-count").data("id");
        var notification_count = $("#nav-not-count").text();
        $.get(
          "{% url 'my_app:notification_getter' %}", {
            "user_id": user_id,
            "notification_list": notification_list
          },
          function (data, status) {
            if (data['count'] > notification_count) {
              $("#nav-not-count").empty();
              $("#nav-not-count").append("(" + data['count'] + ")");
              $("#nav-not-count").data('id', data['notification_list']);
              toastr.options = {
                "debug": false,
                "newestOnTop": false,
                "positionClass": "toast-top-right",
                "closeButton": true,
                "timeOut": "10000",
                "progressBar": false
              };
              toastr.success("You have a new notification!");
            }
          }
        )
      }, 3000);
    });
  </script>
  {% endif %}
  {% block script %}{% endblock script %}
</body>

</html>